.header-container{
    width: 100vw;
    height: 4rem;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding:1rem 2rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header-text{
    font-size: 1.5rem;

}

.home-btn{
    position: inherit;
    right: 0;
    padding-top: 3px;
    align-items: center;
    padding-right: 2rem;
    color: white;
    font-weight:  bolder;
}


a:visited {
    color: white;
  }


  @media only screen and (max-width: 600px) {
   .header-text{
    font-size: 1rem;
   }
  }
  