.next-challenge {
    position: absolute;
    transform: scale(0.1);
    display: flex;
    justify-content: flex-end;
    top: 23vh;
    right: -12rem;
    cursor: pointer;
}


.prev-challenge {
    position: absolute;
    transform: scale(0.1);
    display: flex;
    justify-content: flex-end;
    top: 23vh;
    left: -12rem;
    cursor: pointer;

}


@media screen and (max-width: 900px) {
    .next-challenge {
       position: absolute;
       margin-right: -35px;
    }
    .prev-challenge {
        position: absolute;
        margin-left: -25px;
     }
}