.evaluate-main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  padding-top: 10;
  padding: 7rem 0rem 4rem;
  background-image: linear-gradient(
    45deg,
    rgba(173, 22, 165, 0.979),
    rgb(214, 30, 30),
    rgb(214, 30, 30)
  );
}

.evaluate-card-container {
  width: 80vw;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: center;
  gap: 15rem;
  border-radius: 1rem;
  border: 0.1px solid rgb(248, 239, 239);
  transition: 0.2s;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 24px;
  font-weight: bold;
}

.outoff {
  font-size: 60px;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .result {
    font-size: 24px;
  }
  .outoff {
    font-size: 24px !important;
  }

  .evaluate-card-container{
    display: flex;

  }
}
